<select class="form-control">
  <option>Localidad</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>

<div class="rango-precios">
	<p>Rango de precio</p>
	<span class="icon-dinero"></span>
	<span class="icon-dinero"></span>
	<span class="icon-dinero"></span>
	<span class="icon-dinero"></span>
	<span class="icon-dinero"></span>
</div>

<div class="servicios">
	<p>Servicios</p>
	<% @amenities.each do |amenity| %>
		<div class="btn-filtro">
			<input type="checkbox">
			<label>
				<span class="<%= amenity.icon %>" style="font-size:18px; padding: 3px 5px;"></span>
				<p><%= amenity.name %></p>
			</label>
		</div>
	<% end %>
</div>

<div class="logo-filtros">
	<%= link_to (root_path) do %>
		<%= image_tag('marca-filtros.png') %>
	<% end %>
</div>