<select class="form-control">
  <option>Localidad</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>

<div class="rango-precios">
	<p>Rango de precio</p>
	<span class="icon-dinero"></span>
	<span class="icon-dinero"></span>
	<span class="icon-dinero"></span>
	<span class="icon-dinero"></span>
	<span class="icon-dinero"></span>
</div>

<div class="servicios">
	<p>Servicios</p>
	<div class="btn-filtro">
		<input type="checkbox">
		<label>
			<span class="icon-parking" style="font-size:18px; padding: 3px 5px;"></span>
			<p>Parking</p>
		</label>
	</div>
	<div class="btn-filtro">
		<input type="checkbox">
		<label>
			<span class="icon-nieve"></span>
			<p>Aire</p>
		</label>
	</div>
	<div class="btn-filtro">
		<input type="checkbox">
		<label>
			<span class="icon-agua"></span>
			<p>Duchas</p>
		</label>
	</div>
	<div class="btn-filtro">
		<input type="checkbox">
		<label>
			<span class="icon-tematicas" style="font-size:24px; padding: 0px 5px;"></span>
			<p>Temáticas</p>
		</label>
	</div>
	<div class="btn-filtro">
		<input type="checkbox">
		<label>
			<span class="icon-king"></span>
			<p>King size</p>
		</label>
	</div>
	<div class="btn-filtro">
		<input type="checkbox">
		<label>
			<span class="icon-tv"></span>
			<p>TV color</p>
		</label>
	</div>
	<div class="btn-filtro">
		<input type="checkbox">
		<label>
			<span class="icon-hidromasaje" style="font-size:18px; padding: 3px 5px;"></span>
			<p>Hidromasaje</p>
		</label>
	</div>
	<div class="btn-filtro">
		<input type="checkbox">
		<label>
			<span class="icon-wifi"></span>
			<p>Wi-Fi</p>
		</label>
	</div>
	<div class="btn-filtro">
		<input type="checkbox">
		<label>
			<span class="icon-frigobar"></span>
			<p>Frigo bar</p>
		</label>
	</div>
</div>

<div class="logo-filtros">
	<%= link_to (root_path) do %>
		<%= image_tag('marca-filtros.png') %>
	<% end %>
</div>