<div id="home"> <!-- HOME -->
	<div class="container-fluid"><!-- CONTAINER -->
    
    
		<div class="row"><!-- row logo -->
			<div class="col-lg-2 col-md-2 col-sm-10 col-centered">
				<div class="logo"></div>
			</div>
		</div><!-- fin row logo -->


		<div class="row"><!-- row lugar -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-centered">
				<div class="lugar">ENCONTRÁ ESE <span>LUGAR IDEAL</span></div>
			</div>
		</div><!-- fin row lugar -->
        
        
		<div class="row"><!-- row botones -->   
                     
			<div class="col-lg-3 col-lg-offset-3 col-md-5 col-md-offset-1 col-sm-12 " >
				<%= link_to (root_path) do %>
					<div class="boton" style="width:240px;">
						<span class="icon-gps icono" style="font-size:38px; margin-top:-3px; margin-right:0px;"></span>
						<div class="texto"><span>Buscar</span> por cercanía</div>
					</div>
				<% end %>
			</div>
            
			<div class="col-lg-3 col-md-5 col-sm-12"   >
            	
				<%= link_to (comodidades_path) do %>
					<div class="boton">
						<span class="icon-comodidades icono" style="font-size:30px;"></span><div class="texto"><span>Buscar</span> por comodidades</div>
					</div>
				<% end %>   
			</div>
            

		</div><!-- fin row botones -->
        
	</div> <!--FIN  CONTAINER -->   	
</div><!--FIN  HOME -->
