#home{
	background: url("bg.jpg") center center no-repeat;
	background-size:cover;
	height:100%;
	width:100%;
	.logo{
		background:url("marca.png") center no-repeat;
		width:178px;
		height:39px;
		margin: auto;
		margin-top:30%;
	}
	.lugar{
		text-align:center;
		margin-top:10%;
		h1{
			font-size:66px;
	    color:#fff;
	    font-weight:300;
	    b{font-weight:700;}
		}
	}
	a{
		text-decoration: none;
		.boton{
			width: 100%;
			height:58px;
			border:1px solid #FFF;
			color:white;
			text-align:center;
			font-size:22px;
			text-decoration:none;
			padding-top:11px;
			margin-top:10px;
			-o-transition: all 0.15s linear;
			-moz-transition: all 0.15s linear;
			-khtml-transition: all 0.15s linear;
			-webkit-transition: all 0.15s linear;
			-ms-transition: all 0.15s linear;
			transition: all 0.15s linear;
			h2,span{
				display:inline-block;
				vertical-align: middle;
			}
			h2{
				font-size:22px;
				font-weight:300;
				margin:0;
				b{font-weight:400;}
			}
		}
		.boton:hover{border:1px solid #de4c4b;color:#de4c4b;}	
	}
}

@media only screen and (max-width: 768px) {
	#home{
		background-attachment: fixed;
		overflow: auto;
		padding-bottom:30px;
		.logo{margin-top:5%;}
		.lugar{
			h1{
				font-size:40px;
				margin-bottom:20px;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	#home{
		background-attachment: fixed;
		overflow: auto;
		.logo{margin-top:5%;}
		.lugar{
			h1{
				font-size:40px;
				margin-bottom:20px;
			}
		}
	}
}
